body {
    color: yellow;
    background: black;
    margin: 0pxs;
    font-family: "Sankofa Display", sans-serif;      
}

header {
    border-bottom: solid 2px rgb(255, 255, 122);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 255, 122);
}

section {
    background: rgb(66, 67 ,189);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}















.categoria-videos {
    display:flex;
    overflow-x: auto;
    gap: 20px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 100px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 300px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid gold;
}

.categoria h2 {
    color: rgb(255, 255, 122); 
}